@model tblTask

<li class="checkbox">
    <input type="checkbox"> <span>@Model.Name</span>
    <button type="button" class="close" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</li>