@model IQueryable<tblTask>

<div class="tasks-todo">
    <h4>
        To do:
    </h4>

    <ul class="nav nav-pills nav-stacked dropme" id="tasksTodoList">
        @foreach (var task in Model.Where(x => !x.IsCompleted))
        {
            @Html.Partial("_TaskPartial", task)
        }
    </ul>

    <div class="form-group">
        <form action="@Url.Action("_AddTask","Home")" id="formAddTask">
            <input type="text" class="form-control" name="taskName" id="taskName" placeholder="Add a new task">
        </form>
    </div>
</div>

<hr />

<div class="tasks-done">
    <h4>
        Done:
    </h4>
    <ul class="nav nav-pills nav-stacked dropme" id="tasksDoneList">
        @foreach (var task in Model.Where(x => x.IsCompleted))
        {
            @Html.Partial("_TaskPartial", task)
        }
    </ul>
</div>



<script>
    $(function () {

        /* Re-sort tasklist */
        $('#tasksTodoList, #tasksDoneList').sortable({
            connectWith: '.dropme',
            stop: function (event, ui) {
                var oldList = $(event.target).attr('id');
                var newList = ui.item.closest('ul.dropme').attr('id');

                // if from done to todo
                if (oldList != newList && newList == 'tasksTodoList') {
                    ui.item.children('input[type="checkbox"]').attr('checked', false).trigger('taskStatusChanged',true);

                    updateTasksOrder();
                }

                // if from todo to done
                if (oldList != newList && newList == 'tasksDoneList') {
                    ui.item.children('input[type="checkbox"]').attr('checked', true).trigger('taskStatusChanged', true);
                }

                // if only change sort
                if (oldList == newList && newList == 'tasksTodoList') {
                    updateTasksOrder();
                }
            }
        }); // end - sortable

    });
</script>

