@{
    ViewData["Title"] = "Tasks";
}

@model IQueryable<tblGroup>

<div class="row">
    <div class="col-md-3 left-group">
        <div>
            <h4>
                Groups
            </h4>
        </div>

        <ul class="nav nav-pills nav-stacked" id="groups">
            @foreach (var group in Model)
            {
                @Html.Partial("_GroupPartial", group)
            }
        </ul>
        <hr />
        <div class="form-group">
            <form action="@Url.Action("_AddGroup","Home")" id="formAddGroup">
                <input type="text" class="form-control" name="groupName" id="groupName" placeholder="Add a new category">
            </form>
        </div>
    </div>
    <div class="col-md-6 tasks-main" id="tasksMain">

    </div>
</div>

<script>
    $(function () {

        /* Re-sort groups */
        $('#groups').sortable({
            stop: function (event, ui) {
                updateGroupsOrder();
            }
        });

        /* Task dropped to group */
        $('#groups li').droppable({
            accept: '#tasksTodoList li,#tasksDoneList li',
            tolerance: 'pointer',
            drop: function (event, ui) {
                var activeGroupId = $('#groups li.active').data('group-id');
                var droppedGroupId = $(this).data('group-id');
                var taskId = $(ui.draggable).data('task-id');

                if (activeGroupId != droppedGroupId) {
                    updateTaskGroup(this, ui.draggable, $('#groups li.active'));
                }
            }
        });

    });
</script>