
@{
    ViewBag.Title = "RegisterSuccess";
}

<div class="login-box">
    <div class="login-logo">
        <a href="#">ŞİFRE DEĞİŞİKLİĞİ</a>
    </div>
    <!-- /.login-logo -->
    <div class="login-box-body">
        <p class="login-box-msg">Şifre değiştirme işleminiz başarılı. <a href="@Url.Action("Index","Home")">Anasayfaya </a> yönlendiriliyorsunuz!</p>
    </div>
    <!-- /.login-box-body -->
</div>
<!-- /.login-box -->

<script>
    $(function () {
        // redirect to google after 3 seconds
        window.setTimeout(function () {
            window.location.href = '@Url.Action("Index", "Home")';
        }, 3000);
    });
</script>
