
@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col-sm-3 col-md-2 sidebar">

        <div class="td-g-container">
            <div class="td-header td-g-header">
                <h3>Groups</h3>
            </div>

            <ul class="nav nav-sidebar td-g-list">
                <li class="td-g-item">
                    <a href="javascript:void(0)">
                        <span>Reports</span> <span class="badge"><span class="td-t-badge-completed">3</span>/<span class="td-t-badge-all">5</span></span>
                        <button type="button" class="close" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </a>
                </li>
                <li class="td-g-item">
                    <a href="javascript:void(0)">
                        <span>Reports</span> <span class="badge"><span class="td-t-badge-completed">3</span>/<span class="td-t-badge-all">5</span></span>
                        <button type="button" class="close" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </a>
                </li>
                <li class="td-g-item active">
                    <a href="javascript:void(0)">
                        <span>Reports</span> <span class="badge"><span class="td-t-badge-completed">3</span>/<span class="td-t-badge-all">5</span></span>
                        <button type="button" class="close" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </a>
                </li>
                <li class="td-g-item">
                    <a href="javascript:void(0)">
                        <span>Reports</span> <span class="badge"><span class="td-t-badge-completed">3</span>/<span class="td-t-badge-all">5</span></span>
                        <button type="button" class="close" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </a>
                </li>
                <li class="td-g-item">
                    <a href="javascript:void(0)">
                        <span>Reports</span> <span class="badge"><span class="td-t-badge-completed">3</span>/<span class="td-t-badge-all">5</span></span>
                        <button type="button" class="close" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </a>
                </li>

            </ul>
        </div>

    </div>

    <div class="col-sm-6 col-sm-offset-3 col-md-8 col-md-offset-2">

        <div class="row">
            <div class="col-md-12 td-t-all-container">

                <div class="td-t-container td-t-container-waiting">
                    <div class="td-header td-t-header td-t-header-waiting">
                        <h3>Tasklist</h3>
                    </div>
                    <div class="form-group">
                        <form action="@Url.Action("_AddTask","Task")" id="formAddTask">
                            <div class="input-group input-group-sm">
                                <input type="text" class="form-control" name="taskName" id="taskName" placeholder="Add a new task">
                                <span class="input-group-btn">
                                    <button class="btn btn-default btn-save-task" type="submit">Add</button>
                                </span>
                            </div>
                            
                        </form>
                    </div>
                    <ul class="nav nav-sidebar td-t-list td-t-list-waiting">
                        <li class="td-t-item">
                            <a href="javascript:void(0)">
                                <input type="checkbox">
                                <span class="td-t-item-name">Model.Name</span>
                                <span class="label label-info pul">Info</span>
                                <button type="button" class="close" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </a>
                        </li>
                        <li class="td-t-item">
                            <a href="javascript:void(0)">
                                <input type="checkbox">
                                <span class="td-t-item-name">Model.Name</span>
                                <span class="label label-primary">primary</span>
                                <button type="button" class="close" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </a>
                        </li>
                        <li class="td-t-item">
                            <a href="javascript:void(0)">
                                <input type="checkbox">
                                <span class="td-t-item-name">Model.Name</span>
                                <button type="button" class="close" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="td-t-container td-t-container-waiting">
                    <div class="td-header td-t-header td-t-header-done">
                        <h3>Tasklist</h3>
                    </div>

                    <ul class="nav nav-sidebar td-t-list td-t-list-done">
                        <li class="td-t-item">
                            <a href="javascript:void(0)">
                                <input type="checkbox">
                                <span class="td-t-item-name">Model.Name</span>
                                <button type="button" class="close" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </a>
                        </li>
                        <li class="td-t-item">
                            <a href="javascript:void(0)">
                                <input type="checkbox">
                                <span class="td-t-item-name">Model.Name</span>
                                <button type="button" class="close" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </a>
                        </li>
                        <li class="td-t-item">
                            <a href="javascript:void(0)">
                                <input type="checkbox">
                                <span class="td-t-item-name">Model.Name</span>
                                <button type="button" class="close" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </a>
                        </li>
                        <li class="td-t-item">
                            <a href="javascript:void(0)">
                                <input type="checkbox">
                                <span class="td-t-item-name">Model.Name</span>
                                <button type="button" class="close" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>

    <div class="col-sm-3 col-md-2 sidebar-right">

        <div class="td-c-container">
            <div class="td-header td-c-header">
                <h3>Groups</h3>
            </div>

            <ul class="nav nav-sidebar td-c-list">

                <li class="td-c-item">
                    <a href="javascript:void(0)">
                        <span>Reports</span> <span class="badge"><span class="td-t-badge-completed">3</span>/<span class="td-t-badge-all">5</span></span>
                    </a>
                </li>
                <li class="td-c-item">
                    <a href="javascript:void(0)">
                        <span>Reports</span> <span class="badge"><span class="td-t-badge-completed">3</span>/<span class="td-t-badge-all">5</span></span>
                    </a>
                </li>
                <li class="td-c-item">
                    <a href="javascript:void(0)">
                        <span>Reports</span> <span class="badge"><span class="td-t-badge-completed">3</span>/<span class="td-t-badge-all">5</span></span>
                    </a>
                </li>
                <li class="td-c-item">
                    <a href="javascript:void(0)">
                        <span>Reports</span> <span class="badge"><span class="td-t-badge-completed">3</span>/<span class="td-t-badge-all">5</span></span>
                    </a>
                </li>

            </ul>
        </div>
    </div>
</div>