@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col-sm-3 col-md-2 sidebar">

        <div class="td-g-container">
            <div class="td-header td-g-header">
                <h3>Groups</h3>
            </div>

            <div class="form-group">
                <form action="@Url.Action("_AddGroup","Task")" method="post" id="formAddGroup">
                    <div class="input-group">
                        <input type="text" class="form-control" name="groupName" id="inputGroupName" placeholder="Add a new group">
                        <span class="input-group-btn">
                            <button id="btnAddGroup" class="btn btn-warning" type="submit">Add</button>
                        </span>
                    </div>

                </form>
            </div>

            <ul class="nav nav-sidebar td-g-list">
                @Html.Action("_GroupList", "Task")
            </ul>
        </div>

    </div>

    <div class="col-sm-6 col-sm-offset-3 col-md-8 col-md-offset-2">

        <div class="row">
            <div class="col-md-12 td-t-all-container">
                <!-- Load with ajax when group is clicked -->
            </div>
        </div>
    </div>

    <div class="col-sm-3 col-md-2 sidebar-right">

        <div class="td-c-container">
            <div class="td-header td-c-header">
                <h3>Groups</h3>
            </div>

            <ul class="nav nav-sidebar td-c-list">

                <li class="td-c-item">
                    <a href="javascript:void(0)">
                        <span>Reports</span> <span class="badge"><span class="td-t-badge-completed">3</span>/<span class="td-t-badge-all">5</span></span>
                    </a>
                </li>
                <li class="td-c-item">
                    <a href="javascript:void(0)">
                        <span>Reports</span> <span class="badge"><span class="td-t-badge-completed">3</span>/<span class="td-t-badge-all">5</span></span>
                    </a>
                </li>
                <li class="td-c-item">
                    <a href="javascript:void(0)">
                        <span>Reports</span> <span class="badge"><span class="td-t-badge-completed">3</span>/<span class="td-t-badge-all">5</span></span>
                    </a>
                </li>
                <li class="td-c-item">
                    <a href="javascript:void(0)">
                        <span>Reports</span> <span class="badge"><span class="td-t-badge-completed">3</span>/<span class="td-t-badge-all">5</span></span>
                    </a>
                </li>

            </ul>
        </div>
    </div>
</div>

<script>
    $(function () {

        $('ul.td-g-list').sortable({
            placeholder: "ui-sortable-placeholder",
            stop: function (event, ui) {
                updateGroupsOrder();
            }
        });

        $('ul.td-g-list li').droppable({
            accept: 'ul.td-t-list li',
            tolerance: 'pointer',
            drop: function (event, ui) {
                var activeGroupId = $('ul.td-g-list li.active').data('group-id');
                var droppedGroupId = $(this).data('group-id');
                var taskId = $(ui.draggable).data('task-id');

                if (activeGroupId != droppedGroupId) {
                    updateTaskGroup(this, ui.draggable, $('ul.td-g-list li.active'));
                }
            }
        });

    });
</script>