<ul class="nav navbar-nav navbar-right">
    @if (User.Identity.IsAuthenticated)
    {
        <li><a href="#"><i class="fa fa-user"></i> @User.Identity.Name</a></li>
        <li><a href="@Url.Action("LogOff", "Account")"><i class="fa fa-sign-out"></i> Çıkış</a></li>
    }
    else
    {
        <li><a href="@Url.Action("Login", "Account")"><i class="fa fa-sign-in"></i> Giriş</a></li>
        <li><a href="@Url.Action("Register", "Account")"><i class="fa fa-user-plus"></i> Kayıt</a></li>
    }
</ul>