body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/*
    bootstrap overrides
*/


.nav-sidebar {
    margin-right: 0;
    margin-left: 0;
}

    .nav-sidebar > li > a {
        color: #333;
    }

        .nav-sidebar > li > a:hover {
            background-color: transparent;
        }

input[type="radio"],
input[type="checkbox"] {
    margin-top: 2px;
}



/*
    Sidebar
*/


@media (min-width: 768px) {
    .sidebar {
        position: fixed;
        top: 50px;
        bottom: 0;
        left: 0;
        z-index: 1000;
        display: block;
        overflow-x: hidden;
        overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
        border-right: 1px solid #ccc;
        background-color: #eee;
    }
}

/* Hide for mobile, show later */
.sidebar-right {
    display: none;
}

@media (min-width: 768px) {
    .sidebar-right {
        position: fixed;
        top: 50px;
        bottom: 0;
        right: 0;
        z-index: 1000;
        display: block;
        overflow-x: hidden;
        overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
        border-left: 1px solid #ccc;
        background-color: #eee;
    }
}








/*
    grup and task list
*/

.td-g-container .form-group {
    margin-left: 10px;
    margin-right: 10px;
}

.td-g-container .close,
.td-c-container .close,
.td-t-container .close {
    display: none;
}

.td-g-container li a:hover .close,
.td-c-container li a:hover .close,
.td-t-container li a:hover .close {
    display: block;
}

.td-t-all-container {
    padding-bottom: 20px;
}

.td-t-container {
}

    .td-t-container .td-t-list {
        min-height: 40px;
    }

.td-t-container-waiting {
}

.td-t-container-done {
}

.td-t-container .td-t-list-waiting {
    border-left: 3px solid #337ab7;
}

.td-t-container .td-t-list-done {
    border-left: 3px solid #5cb85c;
}

.td-t-list li {
}

.td-t-list-waiting > li {
}

    .td-t-list-waiting > li > a:hover,
    .td-t-list-waiting > li > a:active,
    .td-t-list-waiting > li > a:visited,
    .td-t-list-waiting > li > a:focus {
        background-color: #337ab7;
        color: #fff;
    }

.td-t-list-done > li {
}

    .td-t-list-done > li > a {
        color: #999;
    }

        .td-t-list-done > li > a:hover,
        .td-t-list-done > li > a:active,
        .td-t-list-done > li > a:visited,
        .td-t-list-done > li > a:focus {
            background-color: #5cb85c;
            color: #fff;
        }

.td-g-container {
    margin-left: -15px;
    margin-right: -15px;
}

    .td-g-container .td-g-list {
    }

        .td-g-container .td-g-list > li > a:hover,
        .td-g-container .td-g-list > li.active > a,
        .td-g-container .td-g-list > li.active > a:hover {
            background-color: #f0ad4e;
            color: #fff;
        }

.td-c-container {
    margin-left: -15px;
    margin-right: -15px;
}

    .td-c-container .td-c-list > li > a:hover,
    .td-c-container .td-c-list > li > a:focus,
    .td-c-container .td-c-list > li.active > a,
    .td-c-container .td-c-list > li.active > a:hover,
    .td-c-container .td-c-list > li.active > a:focus {
        background-color: #f0ad4e;
        color: #fff;
    }

.td-header {
    padding: 10px 15px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 15px;
    background-color: #eee;
}

    .td-header h3 {
        margin: 0;
    }

.td-t-header {
    margin-left: -15px;
    margin-right: -15px;
}

.td-t-header-done {
    margin-top: 15px;
    border-top: 1px solid #ddd;
}


.ui-sortable-placeholder {
    height: 40px;
    border: 4px dotted #444;
}

.ui-sortable-helper {
    opacity: 0.7;
}

.ui-droppable-hover {
    background-color: #f0ad4e;
    -webkit-box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.5);
}



ul.td-t-list li form,
ul.td-g-list li form {
    display: none;
}

ul.td-t-list li.editable-active form,
ul.td-g-list li.editable-active form {
    display: block;
}

ul.td-t-list li.editable-active a,
ul.td-g-list li.editable-active a {
    display: none;
}

ul.td-t-list li .input-group input,
ul.td-t-list li .input-group .btn,
ul.td-g-list li .input-group input,
ul.td-g-list li .input-group .btn {
    height: 40px !important;
}















/*
    DELETE:
    delete following codes, after using new tasks homepage
*/



.tasks-main {
    -webkit-box-shadow: 0px 2px 20px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 0px 2px 20px 0px rgba(50, 50, 50, 0.75);
    box-shadow: 0px 2px 20px 0px rgba(50, 50, 50, 0.75);
    padding-bottom: 15px;
}

    .tasks-main .sortable {
        min-height: 90px;
    }

    .tasks-main input[type="checkbox"] {
        margin-left: 0px;
        position: unset;
    }

    .tasks-main .checkbox a {
        padding: 2px 6px 2px 6px;
        border-radius: 4px;
        border: 1px solid #fff;
        cursor: pointer;
        color: #333;
    }

        .tasks-main .checkbox a:hover {
            background-color: rgb(217, 237, 247);
            border: 1px solid #ccc;
        }

            .tasks-main .checkbox a:hover .close {
                display: block;
            }

        .tasks-main .checkbox a .close {
            display: none;
        }

    .tasks-main .tasks-done .checkbox a {
        color: #999;
    }

        .tasks-main .tasks-done .checkbox a:hover {
            background-color: #eee;
        }

    .tasks-main .tasks-todo .ui-sortable-helper {
        background-color: rgba(217, 237, 247, 0.5);
    }

    .tasks-main .tasks-done .ui-sortable-helper {
        background-color: rgba(223, 240, 216, 0.5) !important;
    }

    .tasks-main .ui-sortable-placeholder {
        min-height: 28px;
        background-color: #ddd;
        border-radius: 4px;
    }



.left-group .nav > li {
    border: 1px solid #fff;
}

    .left-group .nav > li > a {
        /*padding: 5px 7px;*/
        border: 1px solid #fff;
        font-weight: bold;
    }

        .left-group .nav > li > a .close {
            display: none;
        }

    .left-group .nav > li:not(.active) > a:hover {
        border: 1px solid #ccc;
        color: #333;
        background-color: #fcf8e3;
    }

    .left-group .nav > li > a:hover .close {
        display: block;
    }

.left-group .ui-droppable-hover {
    color: #333;
    background-color: #dff0d8;
}

.left-group .ui-sortable-placeholder {
    min-height: 42px;
    background-color: #ddd;
    border-radius: 4px;
}
